.flex-main{
    /*flex-wrap: wrap;*/
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: baseline;
    margin: 10px 20px;
}
@media only screen and (max-width: 600px) {
    
    .flex-row1{
        flex-direction: column !important;
    }
    .flex-row2{
        flex-direction: column !important;
    }
    .flex-row3{
        flex-direction: column !important;
    }
}
@media only screen and (max-width:1029px){
    .flex-produtos{
        flex-direction: column !important;
    }
      
    .flex-row1{
        flex-direction: column !important;
        margin-left: 200px;
    }
    .flex-row2{
        flex-direction: column !important;
        margin-left: 200px;
    }
    .flex-row3{
        flex-direction: column !important;
        margin-left: 200px;
    }
    .flex-produtos > h3{
        padding-left: 200px;
    }
}

   
   
    

.flex-produtos{
    display: flex;
    flex-direction: column;
    margin-left: 220px;
   
}
.flex-produtos > h3{
    text-align: center;
}
.produto > p{
    padding-left: 45px;
}
.flex-row1{
    display: flex;
    flex-direction: row;
}
.flex-row2{
    display: flex;
    flex-direction: row;
}
.flex-row3{
    display: flex;
    flex-direction: row;
}
/*
.categoria{
    padding-right: 40px;
}
.categoria h3{
    background-color: #204969;
    color: #ffffff;
    border: solid 1px #204969;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    height: 40px;
}*/
.categoria a{
    color: #08ffc8;
}
.flex-main a{
    text-decoration: none;
    
}
.flex-produtos a{
   color: #08ffc8;
   margin-left: 40px;
}


.produto{
 text-align: center;
 padding-right: 40px;
}
.produto a:hover{
    color: black;
}
.titulocategoria{
    margin-left: 550px;
    border-bottom: solid 3px #08ffc8;
}
.flex-main ul{
    margin-left: 340px;
}
/*
aside a:hover{
    color: black;
}*/
.flex-main li{
    display: inline;
    padding-right: 40px;
}

.flex-main > ul a:hover{
    color: #08ffc8;
}
.flex-main > ul a{
    color: black; 
}
hr{
    background-color: #204969;
    width: 115%;
    margin-left: 20px;
}
/*
aside li{
    border: solid 1px #204969;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 0;
}
aside ul{
    padding-top: 0;
    padding-left: 0;
  
}*/
