.flex-main{
    /*flex-wrap: wrap;*/
    display: flex;
    flex-direction: row;
    width: 1000px;
    align-items: baseline;
    margin: 10px 20px;
}
@media only screen and (max-width: 600px) {
    
    .flex-row1{
        flex-direction: column !important;
    }
    .flex-row2{
        flex-direction: column !important;
    }
    .flex-row3{
        flex-direction: column !important;
    }
}

   
   
    

.flex-produtos{
    display: flex;
    flex-direction: column;
}
.flex-row1{
    display: flex;
    flex-direction: row;
}
.flex-row2{
    display: flex;
    flex-direction: row;
}
.flex-row3{
    display: flex;
    flex-direction: row;
}
.categoria{
    padding-right: 40px;
}
.categoria h3{
    background-color: #204969;
    color: #ffffff;
    border: solid 1px #204969;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    height: 40px;
}
.categoria a{
    color: #08ffc8;
}
.flex-main a{
    text-decoration: none;
    
}
.flex-produtos a{
   color: #08ffc8;
   margin-left: 40px;
}


.produto{
 text-align: center;
 padding-right: 40px;
}
.produto a:hover{
    color: black;
}

aside a:hover{
    color: black;
}
aside li{
    border: solid 1px #204969;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 0;
}
aside ul{
    padding-top: 0;
    padding-left: 0;
  
}